/* logo */
.logo {
  width: 30px;
  height: 30px;
  animation: rotate 2s linear infinite;
}
.one,
.two,
.three,
.four {
  width: 15px;
  height: 15px;
  position: absolute;
}
.one {
  left: 15px;
  background: linear-gradient(to right, white 50%, transparent 50%);
  border-radius: 15px 0 0 15px;
}
.logo .two {
  right: 0;
  background: linear-gradient(to bottom, white 50%, transparent 50%);
  border-radius: 15px 15px 0 0;
  top: 15px;
}
.logo .three {
  left: 15px;
  background: linear-gradient(to left, white 50%, transparent 50%);
  border-radius: 0 15px 15px 0;
  top: 15px;
}
.logo .four {
  top: 20px;
  background: linear-gradient(to top, white 50%, transparent 50%);
  border-radius: 0 0 15px 15px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
